# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [68]:
import pandas as pd

# Load the datasets
df1 = pd.read_csv(
    "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
)
df2 = pd.read_csv(
    "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
)
df3 = pd.read_csv(
    "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"
)

# Print the first few rows of the combined dataset
print("dataset1:", df1.head())
print("dataset2:", df2.head())
print("dataset3:", df3.head())

# Define a cleaning function
def clean_data(df):
    # Example cleaning steps
    df = df.dropna()  # Drop missing values
    df = df.drop_duplicates()  # Drop duplicate rows
    return df


# Clean each dataset
df1_clean = clean_data(df1)
df2_clean = clean_data(df2)
df3_clean = clean_data(df3)

# Combine the datasets
combined_df = pd.concat([df1_clean, df2_clean, df3_clean])

# Save the combined dataset to a new CSV file
combined_df.to_csv("combined_cleaned_data.csv", index=False)

dataset1:   Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323
dataset2:   Customer          ST GENDER Education Customer Lifetime Value  Income  \
0  GS98873     Arizona      F  Bachelor              323912.47%   16061
1  CW49887  California      F    Master              462680.11%   79487
2  MY31220  California      F   College              899704.02%   54230
3  UH35128      Oregon      F   College             2580706.30%   71210
4  WH52799     Arizona      F   College              380812.21%   94903

   Monthly Premium Auto Number of Open Complaints  Total Claim Amount  \
0                    88                    1/0/00               633.6
1                   114                    1/0/00               547.2
2                   112                    1/0/00               537.6
3                   214                    1/1/00              1027.2
4                    94                    1/0/00               451.2

      Policy Type  Vehicle Class
0   Personal Auto  Four-Door Car
1    Special Auto            SUV
2   Personal Auto   Two-Door Car
3   Personal Auto     Luxury Car
4  Corporate Auto   Two-Door Car
dataset3:   Customer       State  Customer Lifetime Value             Education Gender  \
0  SA25987  Washington              3479.137523  High School or Below      M
1  TB86706     Arizona              2502.637401                Master      M
2  ZL73902      Nevada              3265.156348              Bachelor      F
3  KX23516  California              4455.843406  High School or Below      F
4  FN77294  California              7704.958480  High School or Below      M

   Income  Monthly Premium Auto  Number of Open Complaints    Policy Type  \
0       0                   104                          0  Personal Auto
1       0                    66                          0  Personal Auto
2   25820                    82                          0  Personal Auto
3       0                   121                          0  Personal Auto
4   30366                   101                          2  Personal Auto

   Total Claim Amount  Vehicle Class
0          499.200000   Two-Door Car
1            3.468912   Two-Door Car
2          393.600000  Four-Door Car
3          699.615192            SUV
4          484.800000            SUV

In [69]:
# Print column names of each dataset
print("dataset1:", df1.columns)
print("dataset2:", df2.columns)
print("dataset3:", df3.columns)

dataset1: Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
dataset2: Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')
dataset3: Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [70]:
# Print the first few rows of the combined dataset
print(combined_df.head())

  Customer          ST GENDER             Education Customer Lifetime Value  \
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%
5  OC83172      Oregon      F              Bachelor              825629.78%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto
5  62902.0                  69.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount State Gender
1  Four-Door Car         1131.464935   NaN    NaN
2   Two-Door Car          566.472247   NaN    NaN
3            SUV          529.881344   NaN    NaN
4  Four-Door Car           17.269323   NaN    NaN
5   Two-Door Car          159.383042   NaN    NaN

In [71]:
# Print the shape of the combined dataset
print(combined_df.shape)

# Print column names of the combined dataset
print(combined_df.columns)

(9010, 13)
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount', 'State',
       'Gender'],
      dtype='object')

In [72]:
# Function to standardize column names
def standardize_column_name(col_name):
    col_name = col_name.lower().replace(' ', '_')
    if col_name == 'st':
        return 'state'
    return col_name

# Apply the function to all column names
combined_df.columns = [standardize_column_name(col) for col in combined_df.columns]

# Display the new column names
print("Standardized column names:", combined_df.columns)

Standardized column names: Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount', 'state',
       'gender'],
      dtype='object')

In [73]:
# Clean the 'gender' column
combined_df['gender'] = combined_df['gender'].replace({
    'Femal': 'F', 'female': 'F', 'Female': 'F',
    'Male': 'M', 'male': 'M'
})

In [74]:
# Replace state abbreviations with full names
state_replacements = {
    'AZ': 'Arizona', 'Cali': 'California', 'WA': 'Washington'
}
combined_df['state'] = combined_df['state'].replace(state_replacements)

In [75]:
# Replace 'Bachelors' with 'Bachelor' in the 'education' column
combined_df['education'] = combined_df['education'].replace('Bachelors', 'Bachelor')

In [76]:
# Remove '%' character in 'customer_lifetime_value' column
combined_df['customer_lifetime_value'] = combined_df['customer_lifetime_value'].str.replace('%', '')

In [77]:
# Replace certain values in 'vehicle_class' with 'Luxury'
vehicle_class_replacements = {
    'Sports Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury'
}
combined_df['vehicle_class'] = combined_df['vehicle_class'].replace(vehicle_class_replacements)

In [78]:
# Convertir la columna a string
combined_df['customer_lifetime_value'] = combined_df['customer_lifetime_value'].astype(str)

# Remove percentage signs and convert to float
combined_df['customer_lifetime_value'] = combined_df['customer_lifetime_value'].str.replace('%', '').astype(float)

In [79]:
#  Convert 'customer_lifetime_value' to numeric
combined_df['customer_lifetime_value'] = combined_df['customer_lifetime_value'].astype(float)

In [80]:
# Clean 'number_of_open_complaints' column
def clean_complaints(value):
    if isinstance(value, str):
        return int(value.split('/')[1])
    return value

combined_df['number_of_open_complaints'] = combined_df['number_of_open_complaints'].apply(clean_complaints).astype(float)

In [81]:
# Identify columns with null values and count them
null_counts = combined_df.isnull().sum()
print("Null values in each column:\n", null_counts)

Null values in each column:
 customer                        0
state                        7070
gender                       7070
education                       0
customer_lifetime_value      7070
income                          0
monthly_premium_auto            0
number_of_open_complaints       0
policy_type                     0
vehicle_class                   0
total_claim_amount              0
state                        1940
gender                       1940
dtype: int64

In [83]:
# Identify duplicate rows
duplicates = combined_df.duplicated()
print("Number of duplicate rows:", duplicates.sum())

Number of duplicate rows: 3

In [84]:
# Drop all duplicate rows
combined_df = combined_df.drop_duplicates()

In [85]:
# Verify that duplicates have been handled
duplicates_after = combined_df.duplicated()
print("Number of duplicate rows after handling:", duplicates_after.sum())

Number of duplicate rows after handling: 0

In [86]:
print("Final dataset:", combined_df.head())

Final dataset:   customer       state gender             education  customer_lifetime_value  \
1  QZ44356     Arizona      F              Bachelor                697953.59
2  AI49188      Nevada      F              Bachelor               1288743.17
3  WW63253  California      M              Bachelor                764586.18
4  GA49547  Washington      M  High School or Below                536307.65
5  OC83172      Oregon      F              Bachelor                825629.78

    income  monthly_premium_auto  number_of_open_complaints     policy_type  \
1      0.0                  94.0                        0.0   Personal Auto
2  48767.0                 108.0                        0.0   Personal Auto
3      0.0                 106.0                        0.0  Corporate Auto
4  36357.0                  68.0                        0.0   Personal Auto
5  62902.0                  69.0                        0.0   Personal Auto

   vehicle_class  total_claim_amount state gender
1  Four-Door Car         1131.464935   NaN    NaN
2   Two-Door Car          566.472247   NaN    NaN
3            SUV          529.881344   NaN    NaN
4  Four-Door Car           17.269323   NaN    NaN
5   Two-Door Car          159.383042   NaN    NaN

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [87]:
import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df = pd.read_csv(url)

# Strategy: Fill null values with the column mean for numerical variables and mode for categorical variables
for column in df.columns:
    if df[column].dtype == object:
        # Fill categorical columns with the mode
        df[column].fillna(df[column].mode()[0], inplace=True)
    else:
        # Fill numerical columns with the mean
        df[column].fillna(df[column].mean(), inplace=True)

# Verify that there are no remaining null values
null_values = df.isnull().sum()
print(null_values)

# Save the cleaned DataFrame to a new CSV file
df.to_csv('marketing_customer_analysis_cleaned.csv', index=False)

unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

/tmp/ipykernel_158071/2610761169.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mean(), inplace=True)
/tmp/ipykernel_158071/2610761169.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mode()[0], inplace=True)

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [88]:
# Check the column names
print(df.columns)

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [89]:
# Create a summary table using pivot_table with the correct column names
summary_table = df.pivot_table(values='total_claim_amount', index='sales_channel', aggfunc='sum')

# Round the total revenue to 2 decimal points
summary_table = summary_table.round(2)

# Display the summary table
print(summary_table)

               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [90]:
# Create a pivot table to show the average customer lifetime value per gender and education level
pivot_table = df.pivot_table(values='customer_lifetime_value', index='gender', columns='education', aggfunc='mean')

# Round the average customer lifetime value to 2 decimal points
pivot_table = pivot_table.round(2)

# Display the pivot table
print(pivot_table)

education  Bachelor  College   Doctor  High School or Below   Master
gender
F           7874.27  7748.82  7328.51               8675.22  8157.05
M           7703.60  8052.46  7415.33               8149.69  8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [91]:
# Create a summary table showing the number of complaints by policy type and month
summary_table = df.pivot_table(values='number_of_open_complaints', index='month', columns='policy_type', aggfunc='sum', fill_value=0)

# Convert the summary table to a long format table
long_format_table = summary_table.reset_index().melt(id_vars=['month'], var_name='policy_type', value_name='number_of_complaints')

# Display the long format table
print(long_format_table)

   month     policy_type  number_of_complaints
0      1  Corporate Auto            443.434952
1      2  Corporate Auto            385.208135
2      1   Personal Auto           1727.605722
3      2   Personal Auto           1453.684441
4      1    Special Auto             87.074049
5      2    Special Auto             95.226817